@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4" style="font-family:fantasy">Welcome to the Ticket Tracking System</h2>
   <hr />
   <div class="alert-heading">
    <a asp-area="" asp-controller="Tickets" asp-action="Create">Log a Ticket</a><hr />
    <a asp-area="" asp-controller="Tickets" asp-action="Index">Close a Ticket</a>
    </div>
</div>
